.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.first-screen-wrapper{
  display: flex;
  text-align: justify;
  flex-direction: column;
  align-items: center
}

.wrapper {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sudoku {
    display: grid;
    grid-template-columns: repeat(9, 3vw);
    grid-template-rows: repeat(9, 3vw);
    justify-content: center;
    align-content: center;
    margin: 0 0 2vw;
    font-size: calc(2vw + 10px);
}

li{
  text-align: left;
}
.sudokuInput {
    text-align: center;
    border: 1px solid black;
    color: black;
}

.sudokuInputOk {
  background-color: green;
}

.sudokuInputNotOk {
  background-color: red;
}

input{
  text-align: center;
}

input:nth-child(n):nth-child(-n+9) {
    border-top-width: 4px;
  }
  input:nth-child(n+73):nth-child(-n+81) {
    border-bottom-width: 4px;
  }
  input:nth-child(3n) {
    border-right-width: 4px;
  }
  input:nth-child(9n+1) {
    border-left-width: 4px;
  }
  input:nth-child(n+19):nth-child(-n+27) {
    border-bottom-width: 4px;
  }
  input:nth-child(n+46):nth-child(-n+54) {
    border-bottom-width: 4px;
  }

  .sudokuOutput {
    width: 350px;
    background-color: grey;
    margin: 10px;
    border: 0.5vw solid black;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
  }

  button {
    border-radius: 8px;
    width: 100px;
    height: 50px;
    color: white;
  }
  
  #playButton {
    margin: 10px;
    background-color: blue;
  }
  
  #resetButton {
    background-color: red;
  }
  
  #exitButton {
    background-color: grey;
  }

  #effectus-logo {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media only screen and (max-width: 910px) {
    .sudokuOutput {
      width: 250px;
      height: 50px;
      background-color: grey;
      margin: 10px;
      border: 0.5vw solid black;
      border-radius: 8px;
      padding: 10px;
      font-size: 12px;
    }
    .sudoku {
      display: grid;
      grid-template-columns: repeat(9, 30px);
      grid-template-rows: repeat(9, 30px);
      justify-content: center;
      align-content: center;
      margin: 0 0 2vw;
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 270px) {
    .sudokuOutput {
      width: 145px;
      height: 50px;
      background-color: grey;
      margin: 10px;
      border: 0.5vw solid black;
      border-radius: 8px;
      padding: 10px;
      font-size: 8px;
    }
    .sudoku {
      display: grid;
      grid-template-columns: repeat(9, 15px);
      grid-template-rows: repeat(9, 15px);
      justify-content: center;
      align-content: center;
      margin: 0 0 2vw;
      font-size: 8px;
    }
  }

  